.adminTaskList {
  max-width: 19%;
  height: 85vh;
  background-color: #E0FFFF;
  margin: 5px;
  border: 2px solid white;
  border-radius: 2%;
}
.adminTaskList__title {
  height: 130px;
  color: black;
  margin: auto;
  text-align: center;
}
.adminTaskList__container {
  width: 97%;
  margin: 5px;
  padding: 1px 0;
  border-radius: 3%;
}
