.footer {
  background: rgb(122,90,166);
  background: radial-gradient(circle, rgba(122,90,166,1) 0%, rgba(106,106,176,1) 0%, rgba(102,59,113,1) 100%, rgba(0,212,255,1) 100%);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 100;
}

.icons {
  color: aliceblue;
  margin-top: 16px;
}

.icon:not(:first-child) {
  margin-left: 50px;
  text-decoration: none;
}

.icon:visited {
  margin-left: 50px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: aliceblue;
}
